body{
	font-family: monospace;
	margin: 10px;
}

img{
	margin-right: 10px;
	height: 100px;
	float: left;
}

header p{
	margin: 0;
	font-size: 60px;
	line-height: 48px;
	letter-spacing: -2px;
}