body{margin: 20px;}

nav{margin-top:  20px;}
nav a{margin-right: 20px;}

main{margin-top: 25px;}
h1{font-size: 27.5px; margin-bottom: 0;}
h2{font-size: 20px; font-style: italic; margin-top: 5px;}

footer{margin-top: 40px;}