body{background: #d5d5d5; font-family: monospace; margin: 10px;}
main{max-width: 700px;}

section{margin-bottom: 50px;}

section p{margin: 0px;}
a{color: #ba00ff; text-decoration: none; padding-bottom: 2px; font-weight: bold;}
a:hover{opacity: 20%;}
nav a{width: 110px; display: block; margin-bottom: 15px;}
sup i{font-family: serif;}

.shop{margin: 25px 0px 25px 0px;}

.title{margin: 0px; font-weight: bold; font-size: 37.5px; line-height: 30px; word-spacing: -10px;}
.sub{margin-top: 5px; margin-bottom: 20px;}
.head{font-size: 15px; font-weight: bold; padding-bottom: 3px; margin-bottom: 10px; border-bottom: 1px solid;}
.smallhead{font-size: 15px; font-weight: bold;}

.showroom{width: 100%; margin: 25px 0px 25px 0px;}
.showroom img{width: 100%;}

.duo{width: 100%; margin: 25px 0px 0px 0px;}
.duo img{text-align: center; float: left; width: 50%; margin-bottom: 25px;} 

.solo{width: 100%;}

.sep{height: 12px;}

@media all and (min-width: 700px) {
	nav{position: sticky; top: 12px;}
	footer{position: sticky; bottom: 13px;}
	main{position: relative; top: -195px; margin-left: 200px; padding-right: 50px;}
}

@media all and (max-width: 700px) {
	nav{margin-bottom: 25px;}
}